/* nav {
height: 7rem;
} */

/* body {
height: 100vh;
} */

.jumbotron {
    background: linear-gradient(#e6dace 0%,
            #e6dace 50%,
            #ffffff 50%,
            #ffffff 100%);
}

@media only screen and (min-width: 768px) {
    .jumbotron {
        /* height: 500px; */
        background: linear-gradient(to right,
                #e6dace 0%,
                #e6dace 30%,
                #ffffff 30%,
                #ffffff 100%);
        padding-bottom: 50px;
    }
}

.kotakFoto {
    background-color: #f4ece6;
}

.hello {
    font-size: 72px;
}

.btn-primary:hover {
    background-color: white;
    border-color: black;
}

.tombol a:hover>button{
    color: black;
}


.btn-outline-dark:hover {
    /* background-color: #0d6dfdf1; */
    background-color: #0d6efd;
    color: white;
    border-color: #0d6dfdea;
}

.sosmed {
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.tombol a{
    text-decoration: none;
    color: white;
}

.profil img {
    width: 80% !important;
}

body{
    animation: transitionIn 0.5s;
}

/* .resume{
    animation: transitionIn 0.75s;
} */

@media only screen and (min-width: 768px) {
.unit img{
    width: 80%;
}
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }   
}
